@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap");

/* font-family: 'Arimo', sans-serif; */
/* font-family: 'Libre Baskerville', serif; */

:root {
  --db: #1c1c1e;
  --dbr: #573c24;
  --edbr: #573312;
  --edy: #eaba38;
  --dy: #eac667;
  --ly: #f3ed9e;
  --ely: #fffef2;
  --bor-rad-h: 20px;
  --bor-rad-l: 10px;
  --bor1: 1px solid red;
  --bor2: 1px solid green;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--db);
}

html {
  font-size: 16px;
  font-family: "Arimo", sans-serif;
  line-height: 1.5rem;
  letter-spacing: 0.3px;
}

.gradient-bg {
  background-image: linear-gradient(to right, var(--dy), var(--ly));
}

.container {
  width: min(100%, 1300px);
  margin: 0 auto;
  padding: 0 2rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translate(-10%, -5%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translate(0, 0);
}

/*********** Navigation Section ***********/

.navigation-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem 0;
}

.logo {
  font-size: 1.25rem;
  color: var(--edbr);
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}

.links {
  text-decoration: none;
  color: var(--edbr);
  /* font-size: 18px; */
  font-weight: bold;
  padding: 0 1rem;
}

/*********** Hero Section ***********/

.hero-section {
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-content {
  /* border: var(--bor1); */
  width: 40%;
  padding: 2.5rem 2.5rem;
  background-color: #ffde9c8d;
  border-radius: var(--bor-rad-h);
  box-shadow: -0.5rem 0.5rem var(--edy);
}

.hero-content-heading {
  font-size: 5rem;
  font-family: "Libre Baskerville", serif;
  color: var(--edbr);
  line-height: 5rem;
  margin-bottom: 1.5rem;
}

.hero-content-buttons {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: var(--bor-rad-l);
  font-weight: bold;
  font-size: 1rem;
  border: none;
}

.primary-btn {
  background-color: var(--edy);
  color: var(--dbr);
  width: 100%;
}

.secondary-btn {
  width: 100%;
  background-color: #ffffff00;
  border: 2px solid var(--dbr);
}

.hero-image {
  /* border: var(--bor1); */
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*********** Services Section ***********/

.services-section {
  /* border: var(--bor1); */
  padding: 3rem 0;
}

.service-heading {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  line-height: normal;
  letter-spacing: normal;
  background: url(./images/highlight.png);
  background-repeat: no-repeat;
  background-size: 180px 30px;
  background-position: left bottom;
}

.services {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 4rem;
  margin-top: 2rem;
}

.icon_name {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
  align-items: center;
}

.icon_name h5 {
  font-size: 1.13rem;
  font-weight: bold;
}

.service {
  width: 100%;
  /* text-align: justify; */
}

/*********** Review Section ***********/

.review-bg {
  background-color: var(--ely);
}

.review-section {
  padding: 2rem 0;
  padding-bottom: 6rem;
}

.reviews-heading {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 1.5rem;
}

.reviews {
  display: flex;
  gap: 1.5rem;
}

.review-box {
  /* border: var(--bor1); */
  background-color: #ffffff;
  border-radius: var(--bor-rad-h);
  box-shadow: 1px 2px 15px 2px #eabb3849;
  padding: 1.5em 2em;
  width: 50%;
}

.review-img {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.review-image-slider {
  /* margin: 2rem auto; */
  position: relative;
  overflow: hidden;
  height: 350px;
  /* z-index: 10px; */
}

.review-slide {
  /* padding: 3rem; */
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.img-box {
  width: 50%;
  /* border: var(--bor1); */
}

.before-box img {
  border-radius: 20px 0 0 20px;
  height: 100%;
  width: 100%;
}

.after-box img {
  width: 100%;
  height: 100%;
  border-radius: 0 20px 20px 0;
}

/*********** Gallery Section ***********/

.gallery-section {
  /* border: var(--bor2); */
  padding: 3rem 0;
  /* position: absolute; */
}

.gallery-heading {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 1.5rem;
  background: url(./images/highlight.png);
  background-repeat: no-repeat;
  background-size: 160px 30px;
  background-position: left bottom;
}

.gallery-images-slider {
  /* padding: 10rem; */
  background: url(./images/gallery/gallery-bg/gallery-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  /* border: var(--bor1); */
  border-radius: var(--bor-rad-h);
  margin: 2rem auto;
  height: 40vw;
  position: relative;
  overflow: hidden;
}

.slide {
  padding: 3rem 2rem;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.5s;
}

.gallery-images-slider img {
  width: 100%;
  height: 100%;
  border-radius: var(--bor-rad-h);
  object-fit: cover;
}

.gallery-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #ffffff74;
  font-size: 18px;
}

.gallery-btn:hover {
  transform: scale(1.1);
}

.btn-prev {
  top: 40%;
  left: 2%;
}

.btn-next {
  top: 40%;
  right: 2%;
}

/*********** Footer Section ***********/

.footer-bg {
  background-color: var(--dbr);
}

.footer-section {
  display: flex;
  /* flex-wrap: wrap; */
  gap: 2rem;
  padding: 4rem 0;
}

.footer-section p {
  color: var(--ly);
}
.footer-column {
  width: 100%;
}

.footer-logo {
  color: var(--ly);
  font-size: 2rem;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
  line-height: normal;
  letter-spacing: normal;
}

.footer-external-links {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, auto);
}

.footer-heading {
  color: var(--ly);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.footer-phone {
  margin-bottom: 2rem;
}

.footer-timings {
  background-color: var(--ly);
  border-radius: var(--bor-rad-l);
  padding: 1.5rem 1rem;
  box-shadow: 1px 5px 14px #ddaa44ad;
  margin-right: 1rem;
  /* margin-top: -2rem; */
}

.footer-timings h4 {
  opacity: 0.5;
  text-align: center;
  letter-spacing: 4px;
}

.footer-timing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.footer-timings p {
  color: var(--edbr);
  font-weight: 600;
}

.footer-timings hr {
  /* background-color: var(--edy);
  height: 10px; */
  border: 2px solid var(--edy);
}

.footer-other-links {
  display: flex;
  flex-direction: column;
}

.footer-other-links a {
  text-decoration: none;
  color: var(--ly);
  padding: 0.35rem 0;
}

@media (max-width: 1200px) {
  .hero-content-heading {
    font-size: 3.5rem;
    line-height: 3.4rem;
    letter-spacing: normal;
  }
}

@media (max-width: 430px) {
  .html {
    font-size: 16px;
  }

  /*********** Navigation Section ***********/
  .navgation-logo_ham {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-links {
    display: none;
  }

  /* .hamburger {
    display: block;
  } */

  /*********** Hero Section ***********/
  .hero-section {
    flex-direction: column;
    padding-top: 4rem;
  }
  .hero-content {
    width: 100%;
    padding: 2.5rem 1.2rem;
  }
  .hero-image img {
    width: 200%;
    margin-top: 6rem;
    /* height: 400px; */
  }

  /*********** Services Section ***********/
  .services {
    grid-template-columns: repeat(1, auto);
  }

  /*********** Reviews Section ***********/
  .reviews {
    flex-direction: column;
  }

  .review-box {
    width: 100%;
  }

  .review-image-slider {
    height: 250px;
  }

  /*********** Gallery Section ***********/

  .gallery-images {
    background: none;
    margin: 0;
    height: 100%;
  }

  .gallery-images-slider {
    background: none;
  }

  .slide {
    padding: 0;
  }

  .gallery-images img {
    width: 100%;
    border-radius: var(--bor-rad-l);
  }

  /*********** Footer Section ***********/
  .footer-section {
    flex-direction: column;
  }
}
